# Python
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
dist/
downloads/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Test / coverage / type-check caches
.coverage
.coverage.*
coverage.xml
htmlcov/
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.ruff_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis / RabbitMQ
*.rdb
*.aof
*.pid
mnesia/

# Editors
.idea/
# .vscode/   # 想忽略整個 VS Code 設定再打開
tempCodeRunnerFile.py